.navbar-inverse {
	text-align: center;
	margin:auto;
	padding-bottom: 15px;
}
nav h1 {
	color:white;
}

.tasks {
	margin:auto;
	width: 70%;
}

.to-do {
	padding-top:10px;
	padding-bottom:10px;
}

.to-do h2 {
	color: #595959;
	padding-bottom:5px;
}

.completed-tasks {
	text-decoration: line-through;
	color: grey;
}

.checkbutton {
	border-radius: 1.5em;
	height: 1.5em;
	width: 1.5em;
	background-color: #FFFFFF;
	border-color:#c9c9c9;
	box-shadow: none;
}

.checkbutton:hover {
	background-color: #B0FFB1;
}

.clear-box {
	padding-top: -15px;
	padding-bottom: 5px;
}

.label-danger {
	font-size: 1rem;
	cursor: pointer;
}